name: Release

on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release

  build:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [arm64, amd64]

    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Build
      run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -v -o vault-kv-mv-${{ matrix.goos }}-${{ matrix.goarch }}

    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: vault-kv-mv-${{ matrix.goos }}-${{ matrix.goarch }}
        path: ./vault-kv-mv-${{ matrix.goos }}-${{ matrix.goarch }}

  release:
    needs: [build, test, release-please]
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        ref: ${{ needs.release-please.outputs.tag_name }}

    - name: Download artifacts
      uses: actions/download-artifact@v6

    - name: Prep binaries
      run: |
        mkdir tmp
        mv vault-kv-mv-*/* tmp

    - name: Generate SHA256 Checksum
      run: |
        cd tmp
        shasum -a 256 vault-kv-mv-* > sha256sums.txt

    - name: Upload Release Assets
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ needs.release-please.outputs.tag_name }}
        draft: false
        prerelease: false
        files: |
          ./tmp/sha256sums.txt
          ./tmp/vault-kv-mv-*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Test
      run: go test -v ./...